<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo.png" alt="Curiosity Arc" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="pages/about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/projects.html">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/getinvolved.html">Get Involved</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/news-events.html">News & Events</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/publications.html">Publications & Reports</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
