<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo.png" alt="Curiosity Arc" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="pages/who-we-are.html">Who We Are</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/curiosity-in-action.html">Curiosity in Action</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/curiosity-chronicles.html">Curiosity Chronicles</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/join-the-arc.html">Join the Arc</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/connect-with-us.html">Connect with Us</a></li>
            </ul>
        </div>
    </div>
</nav>
